{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}后台管理{% endblock %}

{% block content %}

    <form class="form-horizontal" method="post">
        <input type="text" name="cmd" class="form-control">
        <input type="submit" class="center-block btn-block">
    </form>

    {{ ret|safe }}
{% endblock %}