{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}后台管理{% endblock %}

{% block content %}

    {{ user }}
    <br>
    <a href="{% url 'manage:sitter' %}">寄养师管理</a><br>

{% endblock %}