{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}后台管理{% endblock %}

{% block content %}

    {{ user }}
    <br>
    <a href="{% url 'manage:home' %}">回到管理首页</a><br>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">个人信息</a>
        </li>
        <li role="presentation">
            <a href="#address" aria-controls="address" role="tab" data-toggle="tab">地址信息</a>
        </li>
        <li role="presentation">
            <a href="#pet_price" aria-controls="pet_price" role="tab" data-toggle="tab">寄养宠物</a>
        </li>
        <li role="presentation">
            <a href="#my_pet" aria-controls="my_pet" role="tab" data-toggle="tab">个人宠物</a>
        </li>
        <li role="presentation">
            <a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">环境图片</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="personal">
            <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_header '基本信息' %}

                {% bootstrap_textarea form.desc %}
                {% bootstrap_field form.occupation %}
                {% bootstrap_field form.experience addon_after='年' %}

                {% bootstrap_field form.phone %}
                {% bootstrap_field form.email %}

                {% bootstrap_header '特色服务' %}

                {% bootstrap_special_service %}

                {% bootstrap_field form.special_service %}

                <div class="form-group form-group-sm">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button style="width: 100%;" class="btn btn-primary" type="submit">确认提交</button>
                    </div>
                </div>

            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="address">
            <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_header '地址信息' %}

                {% flat_ui_select form.province %}
                {% flat_ui_select form.city %}
                {% bootstrap_field form.street %}
                {% bootstrap_field form.house_number %}
                {% bootstrap_field form.space addon_after='㎡' %}
                {% bootstrap_field form.special_service %}

                <div class="form-group form-group-sm">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button style="width: 100%;" class="btn btn-primary" type="submit">确认提交</button>
                    </div>
                </div>

            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="pet_price">
            <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_header '可寄养宠物类型/定价' %}

                {% bootstrap_pet_price form.pup_price %}
                {% bootstrap_pet_price form.small_dog_price %}
                {% bootstrap_pet_price form.medium_dog_price %}
                {% bootstrap_pet_price form.big_dog_price %}
                {% bootstrap_pet_price form.cat_price %}
                {% bootstrap_pet_price form.others_price %}


                <div class="form-group form-group-sm">
                    <div class="col-xs-10 col-xs-offset-1">
                        <button style="width: 100%;" class="btn btn-primary" type="submit">确认提交</button>
                    </div>
                </div>

            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="my_pet">
            <h4>my_pet</h4>
        </div>
        <div role="tabpanel" class="tab-pane" id="photo">
            <h4>photo</h4>
        </div>

    </div>


{% endblock %}