{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}时间安排{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'vendor/kalendae-0.5.5/kalendae_petwu.css' %}" type="text/css">
{% endblock %}

{% block head_javascript %}
    <script src="{% static 'vendor/kalendae-0.5.5/kalendae.standalone.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/calender.js' %}" type="text/javascript"></script>
    <script>
        {# 设置汉语 #}
        setKalendaeLocale();

        {# 选中的日期项 #}
        var selected_dates = "{{ sitter.cant_date }}";

        {# 不能选择的日期项 #}
        var black_dates = function (date) {
            {# 未来60天可选,再后面就不能选了 #}
            return Kalendae.moment(date).isAfter(Kalendae.moment().add(60, 'd'));
        };

        var kalendaeSettings = {
            months: 1,
            weekStart: 1,
            direction: 'future',
            titleFormat: 'YYYY, MMMM',
            blackout: black_dates,
            selected: selected_dates
        };

        function createMultiKalendae() {
            var settings = kalendaeSettings;
            settings['mode'] = 'multiple';
            $("#kalendae").kalendae(settings);
        }

        function createRangeKalendae() {
            var settings = kalendaeSettings;
            settings['mode'] = 'range';
            $("#kalendae").kalendae(settings);
        }

        $(function () {
            createMultiKalendae();
            {# 日期提交按钮 #}
            $("#submit_date").click(function () {
                // 设置提交的日期值
                $("#date_form").find("[name='date_list']").val($("#kalendae").data('kalendae').getSelected());
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <form id="date_form" role="form" class="form-horizontal" action="{% url 'sitter:manage_date' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="date_list">

            <div id="kalendae"></div>
            {# TODO 实现各种按钮选日期 #}
{#            <div class="form-group form-group-sm">#}
{#                <div class="col-xs-2">#}
{#                    <button style="width: 90%;" class="btn btn-sm btn-info center-block" type="button">本周</button>#}
{#                </div>#}
{#                <div class="col-xs-2">#}
{#                    <button style="width: 90%;" class="btn btn-sm btn-info center-block" type="button">下周</button>#}
{#                </div>#}
{#                <div class="col-xs-2">#}
{#                    <button style="width: 90%;" class="btn btn-sm btn-info center-block" type="button">本月</button>#}
{#                </div>#}
{#                <div class="col-xs-2">#}
{#                    <button style="width: 90%;" class="btn btn-sm btn-info center-block" type="button">下月</button>#}
{#                </div>#}
{#                <div class="col-xs-2">#}
{#                    <button style="width: 90%;" class="btn btn-sm btn-info center-block" type="button">工作日</button>#}
{#                </div>#}
{#                <div class="col-xs-2">#}
{#                    <button style="width: 90%;" class="btn btn-sm btn-info center-block" type="button">周末</button>#}
{#                </div>#}
{#            </div>#}
            <button style="width: 80%;" id="submit_date" class="btn btn-success center-block" type="submit">确认提交
            </button>
        </form>
    </div>

{% endblock %}
