{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block head_title %}order{% endblock %}

{% block content %}

{#<form role='form' action="{% url '' %}" method="post">#}
{#    {% csrf_token %}#}
{#    {% bootstrap_form form %}#}
{#    <button class=”btn btn-primary” type=”submit” name=”submit”>提交</button>#}
{#</form>#}

{% endblock %}