{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}寄养师后台页面{% endblock %}
{% block head_javascript %}
    <script src="{% static 'vendor/localResizeIMG-dist/lrz.bundle.js' %}"></script>
    <script src="{% static 'js/peter_button.js' %}"></script>
    <script src="{% static 'js/cityselect.js' %}"></script>
    <script>
        $(function () {
            // 省市县选择
            var province = $('select[name="province"]');
            var city = $('select[name="city"]');
            var county = $('select[name="county"]');
            citySelect("/static/json/city.min.json",
                    province, city, county,
                    $("#city_group"), $("#county_group"),
                    "{{ address_form.province.value }}", "{{ address_form.city.value }}", "{{ address_form.county.value }}");

            // 根据参数来设置显示的tab
            $("#{{ active_tab }}_li").addClass("active");
            $("#{{ active_tab }}").addClass("active");
        });
    </script>
    <script>
        $(function () {
            var SitterType = $("#sitter_type").attr('value');
            if (SitterType === "宠物店") {
                $("#div_space,#div_field_size,#div_occupation,#div_experience").hide();
                $("#div_shop_size").show();
            } else if (SitterType === "寄养师") {
                $("#div_field_size,#div_shop_size").hide();
                $("#div_space,#div_occupation,#div_experience").show();
            } else if (SitterType === "寄养场") {
                $("#div_space,#div_shop_size,#div_occupation,#div_experience").hide();
                $("#div_field_size").show();
            }
        })
    </script>
    {% include 'pet/list_js_base.html' %}
{% endblock %}
{% block content %}

    {% if user.userinfo.sitter_status == '认证寄养师成功' %}
        <h3>寄养师家庭信息管理</h3>
    {% elif user.userinfo.sitter_status == '认证管理员成功' %}
        <h3>管理员后台管理</h3>
    {% elif user.userinfo.sitter_status == '认证店员成功' %}
        <h3>店员后台管理</h3>
    {% else %}
        <h3>未知错误</h3>
    {% endif %}

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" id="personal_li">
            <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">基本信息</a>
        </li>
        <li role="presentation" id="address_li">
            <a href="#address" aria-controls="address" role="tab" data-toggle="tab">地址信息</a>
        </li>
        <li role="presentation" id="pet_price_li">
            <a href="#pet_price" aria-controls="pet_price" role="tab" data-toggle="tab">寄养宠物</a>
        </li>
        <li role="presentation" id="my_pet_li">
            <a href="#my_pet" aria-controls="my_pet" role="tab" data-toggle="tab">个人宠物</a>
        </li>
        <li role="presentation" id="photo_li">
            <a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">环境图片</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="personal">
            <form class="form-horizontal" action="{% url 'sitter:manage_setting_info' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <input id="sitter_type" type="hidden" value="{{ sitter.sitter_type }}">

                {% bootstrap_header '基本信息' %}

                {% bootstrap_head_portrait_upload info_form.head_portrait "sitter_head" src=sitter.head_portrait_url %}
                {% bootstrap_textarea info_form.desc %}
                <div id="div_occupation">
                      {% bootstrap_field info_form.occupation %}
                </div>
                <div id="div_experience">
                    {% bootstrap_field info_form.experience addon_after='年' %}
                </div>

                {% bootstrap_field info_form.phone %}
                {% bootstrap_field info_form.email %}
                <div id="div_space">
                    {% bootstrap_field info_form.space addon_after='㎡' %}
                </div>
                <div id="div_shop_size">
                    {% bootstrap_radio info_form.shop_size %}
                </div>
                <div id="div_field_size">
                    {% bootstrap_radio info_form.field_size %}
                </div>

                <button style="width: 80%;" class="btn btn-primary center-block" type="submit">确认提交</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="address">
            <form class="form-horizontal" action="{% url 'sitter:manage_setting_address' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_header '地址信息' %}

                {% bootstrap_select address_form.province %}
                <div id="city_group">
                    {% bootstrap_select address_form.city %}
                </div>
                <div id="county_group">
                    {% bootstrap_select address_form.county %}
                </div>
                {% bootstrap_field address_form.street %}
                {% bootstrap_field address_form.house_number %}

                <button style="width: 80%;" class="btn btn-primary center-block" type="submit">确认提交</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="pet_price">
            <form class="form-horizontal" action="{% url 'sitter:manage_setting_pet' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_header '可寄养宠物类型/定价' %}

                {% bootstrap_pet_price pet_form.pup_price enable=pet_form.pup_price_enable %}
                {% bootstrap_pet_price pet_form.small_dog_price enable=pet_form.small_dog_price_enable %}
                {% bootstrap_pet_price pet_form.medium_dog_price enable=pet_form.medium_dog_price_enable %}
                {% bootstrap_pet_price pet_form.big_dog_price enable=pet_form.big_dog_price_enable %}
                {% bootstrap_pet_price pet_form.cat_price enable=pet_form.cat_price_enable %}
                {% bootstrap_pet_price pet_form.others_price enable=pet_form.others_price_enable %}

                {% bootstrap_header '特色服务' %}
                {% bootstrap_special_service pet_form.special_service sslist=ss my_ss=my_ss %}

                <button style="width: 80%;" class="btn btn-primary center-block" type="submit">确认提交</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="my_pet">
            <br>
            {% include 'pet/list_list_base.html' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="photo">
            {% static "images/up_bg.jpeg" as up_bg %}
            {% bootstrap_imgs_upload name="env_photo" icon_src=up_bg imgs=env_photos post_url=post_url %}
            {% bootstrap_imgs_edit_modal name="env_photo" icon_src=up_bg img_type='env_photo' %}
        </div>


        {# TODO 显示隐私信息,但是不能编辑 #}
    </div>

{% endblock %}