{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}预约寄养师{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'vendor/kalendae-0.5.5/kalendae_petwu.css' %}" type="text/css">
{% endblock %}
{% block head_javascript %}
    <script src="{% static 'vendor/kalendae-0.5.5/kalendae.standalone.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/calender.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/rules.js' %}"></script>
    <script>
        {# 设置汉语 #}
        setKalendaeLocale();

        var cant_date = "{{ sitter.cant_date }}".split(",");

        var kalendaeSettings = {
            months: 1,
            weekStart: 1,
            direction: 'future',
            titleFormat: 'YYYY, MMMM',
            // 设置不能选择的日期项
            blackout: cant_date
        };

        function createRangeKalendae() {
            var settings = kalendaeSettings;
            settings['mode'] = 'range';
            $("#kalendae").kalendae(settings);
        }


        // 读取#sitter_can_pet_list下input里的数据,并生成对应表
        // 对比petlist表，查看宠物类型，状态，做出相应操作


        $(function () {
            createRangeKalendae();
            {# 日期提交按钮 #}
            $("#submit_date").click(function () {
                // 设置提交的日期值
                $("#date_form").find("[name='date_list']").val($("#kalendae").data('kalendae').getSelected());
            });

            {# 截获日期选择事件 #}
            $("#kalendae").data("kalendae").subscribe('change', function (date) {
                var begDate, endDate;
                var selectedDate = this.getSelectedAsText();
                begDate = selectedDate[0];
                if (selectedDate.length == 2) {
                    endDate = selectedDate[1];
                } else {
                    endDate = selectedDate[0];
                }
                // 判断是否能选
                for (var i = 0; i < cant_date.length; i++) {
                    if (Kalendae.moment(cant_date[i]).isBetween(begDate, endDate)) {
                        alert("选择的日期中包含不能选择的日期");
                        this.removeSelected(begDate);
                        this.removeSelected(endDate);
                        return;
                    }
                }
                // 将日期设置到表单hidden项
                $("#begin_date").val(begDate);
                $("#end_date").val(endDate);
            });

        });
    </script>
    <script>
        //手机号，宠物，date,勾选协议表单验证
        var FormValidate = function () {
            $("form").validate({
                ignore: "",
                rules: {
                    begin_date: {
                        required: true
                    },
                    phone: {
                        required: true,
                        isMobile: true
                    },
                    agreement: {
                        required: true
                    },
                    pets: {
                        required: true
                    }
                },
                messages: {
                    begin_date: {
                        required: "请选择寄養日期"
                    },
                    phone: {
                        required: "请输入您的联系手机号"
                    },
                    agreement: {
                        required: "请阅读并同意协议"
                    }, pets: {
                        required: "请至少选择一个宠物"
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is("[name='pets']")) {               // 宠物选择错误信息
                        error.appendTo($("#pet_selected_error"));
                    } else if (element.is("[name='begin_date']")) {  // 日期选择错误信息
                        error.appendTo($("#date_selected_error"));
                    } else {
                        error.appendTo(element.parent());
                    }
                }
            });
        };
        var petlist = {};   //全局对象

        $(function () {
            //表单验证
            FormValidate();
            // 判断宠物是否选择正确
            $("#sitter_can_pet_list").find("input").each(function () {
                var value = ($(this).val());
                var dataname = ($(this).attr("data-name"));
                petlist[dataname] = value;
            });
            $("#pet_selected").find("[type='checkbox']").change(function () {
                if ($(this).prop('checked')) {
                    if (!($(this).siblings("[name='pet_type']").val() in petlist)) {
                        $(this).attr("checked", false);
                        alert("此寄养师不接受此类宠物");
                    }
                    if ($(this).siblings("[name='pet_ordered']").val() != 0) {
                        $(this).attr("checked", false);
                        alert("此宠物已经有寄养订单了");
                    }
                }
            })
        });

    </script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <form class="form-horizontal" action="{% url 'order:add' sitter_id=sitter.pk %}" method="post"
              role="form" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_header '选择日期' %}
            <div id="kalendae"></div>
            <div id="date_selected_error"></div>

            <input id="begin_date" type="hidden" name="begin_date"/>
            <input id="end_date" type="hidden" name="end_date"/>

            {% bootstrap_header '选择宠物' %}
            <div id="sitter_can_pet_list">
                {% for price in sitter.pet_price_list %}
                    {% if price.0 %}
                        <input type="hidden" data-name="{{ price.2.type_name }}" value="{{ price.1 }}">
                    {% endif %}
                {% endfor %}
            </div>
            <div id="pet_selected">
                <div class="form-group form-group-sm">
                    {% for pet in user_info.pet_set.all %}
                        <div class="col-xs-3">
                            <label class="checkbox" for="pet_{{ pet.pk }}">
                                <input type="checkbox" data-toggle="checkbox" value="{{ pet.pk }}" id="pet_{{ pet.pk }}"
                                       name="pets">
                                <img src="{{ pet.head_portrait_url }}">
                                {{ pet.nickname }}
                                <input type="hidden" name="pet_type" value="{{ pet.type }}">
                                <input type="hidden" name="pet_ordered" value="0">
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="pet_selected_error"></div>

            <a style="width: 80%" class="btn btn-success center-block" type="button"
               href="{% url 'pet:add' %}?next={{ redirect_url_after_add_pet }}">添加宠物</a>

            {% bootstrap_header '联系方式' %}
            <div class="form-group form-group-sm">
                <label for="id_phone" class="col-xs-3 control-label">电话号码</label>

                <div class="col-xs-9">
                    <input type="text" class="form-control" id="id_phone" placeholder="请填写手机号码"
                           name="phone" value="{{ master.phone }}"/>
                </div>
            </div>

            {% bootstrap_header '给寄养师留言' %}
            {% bootstrap_textarea form.message %}

            <div class="form-group form-group-sm">
                <div class="col-xs-10 col-xs-offset-1">
                    <label class="checkbox" for="checkbox_agreement">
                        <input type="checkbox" data-toggle="checkbox" name="agreement" id="checkbox_agreement" checked>
                        同意 <a href="#">陪TA屋宠物寄养服务合作协议</a>
                    </label>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <div class="col-xs-10 col-xs-offset-1">
                    <button style="width: 100%;" class="btn btn-primary" type="submit">确认提交</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}