{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}主人订单列表{% endblock %}

{% block head_javascript %}
    <script>
        $(function () {
            $(".confirm_order").click(function () {
                if (!confirm("确定要确认寄养吗?")) {
                    return false;
                }
            });
            $(".cancel_order").click(function () {
                if (!confirm("确定要取消寄养吗?")) {
                    return false;
                }
            });
            $(".remove_order").click(function () {
                if (!confirm("确定要删除此订单吗?")) {
                    return false;
                }
            });
        })
    </script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        {% if not orders %}
            <h3>您还没有相关订单</h3>
        {% else %}
            <table class="table">
                <thead>
                <td>订单号</td>
                <td>订单状态</td>
                <td>寄养师</td>
                <td>寄养宠物</td>
                <td>寄养时间</td>
                <td>下单时间</td>
                <td>操作</td>
                </thead>
                {% for order in orders %}
                    <tr>
                        <td><a href="#">{{ order.id }}</a></td>
                        <td>{{ order.order_status_text }}</td>
                        <td><a href="#">{{ order.sitter }}</a></td>
                        <td><a href="#">{{ order.pets }}</a></td>
                        <td>{{ order.begin_date }}-{{ order.end_date }}</td>
                        <td>{{ order.create_date }}</td>
                        <td>
                            {% if order.order_status == 'ordered' or order.order_status == 'accepted' %}
                                <div class="master_order_list_cancel_order">
                                    <a class="btn btn-danger cancel_order" role="button"
                                       href="{% url 'order:cancel' order_id=order.id %}?next={{ next }}">
                                        取消寄养
                                    </a>
                                </div>
                            {% endif %}

                            {% if order.order_status == 'accepted' %}
                                <div class="master_order_list_confirm_order">
                                    <a class="btn btn-danger confirm_order" role="button"
                                       href="{% url 'order:confirm' order_id=order.id %}?next={{ next }}">
                                        确认寄养
                                    </a>
                                </div>
                            {% endif %}

                            {% if order.order_status == 'declined' or order.order_status == 'canceled' or order.order_status == 'dated' or order.order_status == 'completed' %}
                                <div class="master_order_list_remove_order">
                                    <a class="btn btn-danger remove_order" role="button"
                                       href="{% url 'order:master_remove_order' order_id=order.id %}?next={{ next }}">
                                        删除订单
                                    </a>
                                </div>
                            {% endif %}

                            <a href="#">联系寄养师</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% endblock %}