{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}寄养师订单列表{% endblock %}

{% block head_javascript %}
    <script>
        $(function () {
            $(".accept_order").click(function () {
                if (!confirm("确定要接受预约吗?")) {
                    return false;
                }
            });
            $(".decline_order").click(function () {
                if (!confirm("确定要拒绝预约吗?")) {
                    return false;
                }
            });
            $(".remove_order").click(function () {
                if (!confirm("确定要删除此订单吗?")) {
                    return false;
                }
            });
        })
    </script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        {# 订单状态 #}
        <div class="order_status">
            <ul class="clearfix">
                <li><a href="{% url 'order:sitter_order_list' order_status='ordered' %}">待接受</a></li>
                <li><a href="{% url 'order:sitter_order_list' order_status='accepted' %}">待确认</a></li>
                <li><a href="{% url 'order:sitter_order_list' order_status='confirmed' %}">待寄养</a></li>
                <li><a href="{% url 'order:sitter_order_list' order_status='sitting' %}">寄养中</a></li>
                <li><a href="{% url 'order:sitter_order_list' order_status='completed' %}">已完成</a></li>
                <li><a href="{% url 'order:sitter_order_list' order_status='others' %}">其他</a></li>
            </ul>
        </div>

        {% if not orders %}
            <h3>您还没有相关订单</h3>
        {% else %}
            <table class="table">
                <thead>
                <td>订单号</td>
                <td>订单状态</td>
                <td>宠物主人</td>
                <td>寄养宠物</td>
                <td>寄养时间</td>
                <td>下单时间</td>
                <td>操作</td>
                </thead>
                {% for order in orders %}
                    <tr>
                        <td><a href="#">{{ order.id }}</a></td>
                        <td>{{ order.order_status_text }}</td>
                        <td><a href="#">{{ order.master }}</a></td>
                        <td><a href="#">{{ order.pets }}</a></td>
                        <td>{{ order.begin_date }}-{{ order.end_date }}</td>
                        <td>{{ order.create_date }}</td>
                        <td>
                            {% if order.order_status == 'ordered' %}
                                <div class="sitter_order_list_accept_order">
                                    <a class="btn btn-danger accept_order" role="button"
                                       href="{% url 'order:accept' order_id=order.id %}?next={{ next }}">
                                        接受预约
                                    </a>
                                </div>

                                <div class="sitter_order_list_decline_order">
                                    <a class="btn btn-danger decline_order" role="button"
                                       href="{% url 'order:decline' order_id=order.id %}?next={{ next }}">
                                        拒绝预约
                                    </a>
                                </div>
                            {% endif %}
                            {% if order.order_status == 'declined' or order.order_status == 'canceled' or order.order_status == 'dated' or order.order_status == 'completed' %}
                                <div class="master_order_list_remove_order">
                                    <a class="btn btn-danger remove_order" role="button"
                                       href="{% url 'order:sitter_remove_order' order_id=order.id %}?next={{ next }}">
                                        删除订单
                                    </a>
                                </div>
                            {% endif %}

                            <a href="#">联系宠物主人</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% endblock %}
