{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}添加宠物{% endblock %}

{% block head_javascript %}
    <script src="{% static 'vendor/localResizeIMG-dist/lrz.bundle.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var PetJSON;                //全局JSON
            var PetBreedSelect = function () {
                var TypeName = $("input[name=type]:checked").attr('value');
                if (TypeName != '猫咪' && TypeName != '其他') {
                    TypeName = '狗';
                }

                var oShi = $("#id_breed");                      //根据物种填充对应品种
                oShi.empty();
                for (var i = 0; i < PetJSON[TypeName].length; i++) {
                    $("<option value='" + PetJSON[TypeName][i].n + "'>" + PetJSON[TypeName][i].n + "</option>").appendTo(oShi)
                }
            };
            var PetType = function () {
                $.getJSON("/static/json/pet_type.json", function (result) {
                    PetJSON = result;
                    return PetBreedSelect();                                    //初始化填充
                });

                $(document).on('change', 'input[name=type]', function () {    //之后点击判断种类填充
                    return PetBreedSelect();
                });
            };
            PetType();
        });
    </script>
{% endblock %}
{% block content %}

    <br><br>

    <div class="wrapper">
        <form class="form-horizontal" action="{% url 'pet:add' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next_url" value="{{ next_url }}">

            {% bootstrap_head_portrait_upload form.head_portrait "pet_head" src=head_portrait_url %}
            {% bootstrap_field form.nickname %}
            {% bootstrap_radio form.type %}
            {% bootstrap_select form.breed %}
            {% bootstrap_radio form.sex %}

            <div class="form-group form-group-sm">
                <label for="id_year" class="col-xs-3 control-label">年龄</label>

                <div class="col-xs-9">
                    <div class="input-group">
                        <input type="number" value="1" title="" placeholder="岁" name="year"
                               id="id_year"
                               class="form-control input-sm">
                        <span class="input-group-addon">岁</span>
                        <input type="number" value="0" title="" placeholder="月" name="month"
                               id="id_month"
                               class="form-control input-sm">
                        <span class="input-group-addon">月</span>
                    </div>
                </div>
            </div>


            <button style="width: 80%;" class="btn btn-primary center-block" type="submit">确认提交</button>

        </form>
    </div>
    <br>
    <br>

{% endblock %}
