{% if my_pet_list %}
    <ul id="pet_list_ul" class="clearfix">
        {% for pet in my_pet_list %}
            <li id='pet_{{ pet.pk }}' class='pet_list_li clearfix'>
                <div class="pet_list_del_pet">
                    <button class="btn btn-danger del_pet" type="button" onclick="delPet({{ pet.pk }})">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div onclick="location='{% url 'pet:detail' pk=pet.pk %}'">
                    <div class="pet_list_left">
                        <img src="{{ pet.head_portrait_url }}">
                    </div>
                    <div class="pet_list_right">
                        <span class="pet_list_name">{{ pet.nickname }}</span>
                        <span class="pet_list_info">
                            {{ pet.breed }}&nbsp;{{ pet.year }}岁{{ pet.month }}月&nbsp;{{ pet.type }}
                        </span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-center">您还没有相关宠物</p>
    <br><br>
{% endif %}

<a style="width: 80%" class="btn btn-success center-block" type="button" href="{% url 'pet:add' %}?next={{ redirect_url_after_add_pet }}">添加宠物</a>
