{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}我的宠物{% endblock %}

{% block head_javascript %}
    {% include 'pet/list_js_base.html' %}
{% endblock %}

{% block content %}

    <div class="wrapper">
        <br><br>
        {% include 'pet/list_list_base.html' %}
    </div>


{% endblock %}