{% extends "admin/base.html" %}

{% block title %}Pet-Wu site admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Pet-Wu Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
