{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}申请成为寄养师{% endblock %}

{% block head_css %}

{% endblock %}

{% block head_javascript %}
    <script src="{% static 'vendor/localResizeIMG-dist/lrz.bundle.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/rules.js' %}"></script>
    <script src="{% static 'js/peter_button.js' %}"></script>
    <script src="{% static 'js/cityselect.js' %}"></script>
    <script>
        // 根据寄养师类型来显示不同的表单项
        var SitterType = function () {
            var TypeId = $("input[name=sitter_type]:checked").attr('id');
            if (TypeId === "id_sitter_type_0") {
                $("#div_group_number,#div_field_size,#div_shop_size").hide();
                $("#div_sex,#div_experience,#div_occupation,#div_space,#div_id_number").show();
                $("label[for='id_nickname']").html('家庭名称');
                $("label[for='id_desc']").html('寄养介绍');
                $("label[for='id_realname']").html('真实姓名');
                $("label[for='id_space']").html('家庭面积');
            } //家庭寄养师
            else if (TypeId === "id_sitter_type_1") {
                $("#div_sex,#div_experience,#div_occupation,#div_space,#div_field_size,#div_id_number").hide();
                $("#div_group_number,#div_shop_size").show();
                $("label[for='id_nickname']").html('宠物店名');
                $("label[for='id_desc']").html('宠物店介绍');
                $("label[for='id_realname']").html('管理员姓名');
            } //宠物店
            else if (TypeId === "id_sitter_type_2") {
                $("#div_sex,#div_occupation,#div_experience,#div_group_number,#div_shop_size").hide();
                $("#div_id_number,#div_space,#div_field_size").show();
                $("label[for='id_nickname']").html('场所名称');
                $("label[for='id_desc']").html('寄养介绍');
                $("label[for='id_realname']").html('管理员姓名');
                $("label[for='id_space']").html('场地面积');
            } //寄养场
        };

        var FormValidate = function () {
            $("form").validate({
                rules: {
                    nickname: {
                        required: true
                    }, email: {
                        required: true,
                        email: true
                    }, desc: {
                        maxlength: 500
                    }, occupation: {
                        required: true
                    }, experience: {
                        required: true,
                        number: true
                    }, id_number: {
                        isIdcardno: true,
                        required: true
                    }, group_number: {
                        isGroupNumber: true,
                        required: true
                    }, realname: {
                        required: true
                    }, phone: {
                        required: true,
                        isMobile: true
                    }, province: {
                        required: true
                    }, city: {
                        required: true
                    }, street: {
                        required: true
                    }, house_number: {
                        required: true
                    }, agreement: {
                        required: true
                    }
                },
                messages: {
                    nickname: {
                        required: "请输入名称"
                    }, email: {
                        required: "请输入您的e-mail地址"
                    }, occupation: {
                        required: "请输入您的职业"
                    }, experience: {
                        required: "请填写您的养宠经验"
                    }, id_number: {
                        required: "请输入您的身份证号码"
                    }, group_number: {
                        required: "请输入组织机构代码或统一社会信用代码"
                    }, realname: {
                        required: "请填写与身份证号对应的姓名"
                    }, phone: {
                        required: "请输入您的手机号码"
                    }, province: {
                        required: "请选择您所在的省份"
                    }, city: {
                        required: "请选择您所在的的城市"
                    }, street: {
                        required: "请填写您所在的街道"
                    }, house_number: {
                        required: "请填写您所在的门牌号"
                    }, agreement: {
                        required: "请阅读并同意协议"
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is("input[name='agreement']")) {      //协议勾选处
                        error.appendTo(element.parent().parent());
                    } else {
                        error.appendTo(element.parent());
                    }
                }
            });
        };

        $(function () {
            //页面初始化时判断种类
            SitterType();
            //添加表单验证
            FormValidate();

            // 省市县选择
            var province = $('select[name="province"]');
            var city = $('select[name="city"]');
            var county = $('select[name="county"]');
            citySelect("/static/json/city.min.json",
                    province, city, county,
                    $("#city_group"), $("#county_group"),
                    "四川", "成都", "锦江区");

            // 选中checkbox
            $("#checkbox_agreement").prop('checked', true);
        });

        $(document).on('change', 'input[name=sitter_type]', function () {
            //之后点击判断种类
            SitterType();
        });
    </script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <form role="form" class="form-horizontal" action="{% url 'sitter:add' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_header '基本信息' %}
            {% bootstrap_radio form.sitter_type %}
            <div id="div_nickname">
                {% bootstrap_field form.nickname %}
            </div>
            <div id="div_desc">
                {% bootstrap_textarea form.desc %}
            </div>
            <div id="div_occupation">
                {% bootstrap_field form.occupation %}
            </div>
            <div id="div_experience">
                {% bootstrap_field form.experience addon_after='年' %}
            </div>

            {% bootstrap_header '隐私信息<small>本项信息保密</small>' %}
            <div id="div_group_number">
                {% bootstrap_field form.group_number %}
            </div>
            <div id="div_realname">
                {% bootstrap_field form.realname %}
            </div>
            <div id="div_id_number">
                {% bootstrap_field form.id_number %}
            </div>
            <div id="div_phone">
                {% bootstrap_field form.phone %}
            </div>

            <div id="div_email">
                {% bootstrap_field form.email %}
            </div>
            <div id="div_sex">
                {% bootstrap_radio form.sex %}
            </div>

            {% bootstrap_header '地址信息' %}

            {# 经度 #}
            <input id="id_longitude" name="longitude" type="hidden" value="">
            {# 纬度 #}
            <input id="id_latitude" name="latitude" type="hidden" value="">

            <div id="province_group">
                {% bootstrap_select form.province %}
            </div>
            <div id="city_group">
                {% bootstrap_select form.city %}
            </div>
            <div id="county_group">
                {% bootstrap_select form.county %}
            </div>
            <div id="div_street">
                {% bootstrap_field form.street %}
            </div>
            <div id="div_house_number">
                {% bootstrap_field form.house_number %}
            </div>
            <div id="div_space">
                {% bootstrap_field form.space addon_after='㎡' %}
            </div>
            <div id="div_shop_size">
                {% bootstrap_radio form.shop_size %}
            </div>
            <div id="div_field_size">
                {% bootstrap_radio form.field_size %}
            </div>

            {% bootstrap_header '可寄养宠物类型/定价' %}
            {% bootstrap_pet_price form.pup_price %}
            {% bootstrap_pet_price form.small_dog_price %}
            {% bootstrap_pet_price form.medium_dog_price %}
            {% bootstrap_pet_price form.big_dog_price %}
            {% bootstrap_pet_price form.cat_price %}
            {% bootstrap_pet_price form.others_price %}

            {% bootstrap_header '特色服务' %}
            {% bootstrap_special_service form.special_service sslist=ss %}

            {% bootstrap_header "上传照片" %}
            {% bootstrap_head_portrait_upload form.head_portrait "sitter_head" src=head_portrait_url %}

            {% bootstrap_header "环境照片" %}
            {% static "images/up_bg.jpeg" as up_bg %}
            {% bootstrap_imgs_upload name="env_photo" icon_src=up_bg img_type='env_photo' %}

            {% bootstrap_field form.referee_phone %}

            <div class="agree_checkbox">
                <span class="selected" onclick="$(this).toggleClass('selected');">
                    <input type="checkbox" style="margin: 0;width: 24px;height: 24px;opacity:0.0" data-toggle="checkbox"
                           name="agreement" id="checkbox_agreement">
                </span>
                <p> 同意 <a href="#">陪TA屋宠物寄养服务合作协议</a></p>
            </div>

            <button style="width: 80%;" class="btn btn-success center-block" type="submit">确认提交</button>
        </form>
        {% bootstrap_imgs_edit_modal name="env_photo" icon_src=up_bg img_type='env_photo' %}
    </div>
    <br>
    <br>
{% endblock %}

{% block footer_javascript %}

    <script>
        var g_latitude = 30.6;
        var g_longitude = 104.1;

        function handle_location(text) {
            $("#id_latitude").val(g_latitude);
            $("#id_longitude").val(g_longitude);
            alert(g_latitude);
            alert(g_longitude);
        }
    </script>
    {% include 'commons/location.html' %}

{% endblock %}
