{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}寄养师详情{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'vendor/kalendae-0.5.5/kalendae_petwu.css' %}" type="text/css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
{% endblock %}

{% block head_javascript %}
    <script src="{% static 'vendor/kalendae-0.5.5/kalendae.standalone.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/calender.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/swiper.jquery.min.js' %}"></script>
    <script>
        {# 设置汉语 #}
        setKalendaeLocale();

        {# 不能选择的日期项为寄养师设置的不接受寄养时间 #}
        var cant_date = "{{ sitter.cant_date }}".split(",");

        var kalendaeSettings = {
            months: 1,
            weekStart: 1,
            direction: 'future',
            titleFormat: 'YYYY, MMMM',
            blackout: cant_date,
            subscribe: {
                'date-clicked': function (date, action) {
                    return false;
                }
            }
        };

        $(function () {
            $("#kalendae").kalendae(kalendaeSettings);
        });
    </script>
    <script>
        $(document).ready(function(){
             var mySwiper = new Swiper('.swiper-container', {
                 autoplay: 5000,
                 autoplayDisableOnInteraction:false,     //手拖以后仍然会继续自动播放
                 speed:1000,
                 grabCursor:true,                       //鼠标变手形状
                 pagination :".swiper-pagination",      //显示分页器
                 paginationClickable:true               //分页器可点
            })
        });
    </script>

{% endblock %}

{% block content %}

    <div class="wrapper">
{#        {% bootstrap_carousel name='env_photos' imgs=env_photos %}#}
         <div id="id_env_photos" class="swiper-container">
             <div class="swiper-wrapper" role="listbox">
                {% for img in env_photos %}
                    <div class="swiper-slide">
                        <img src="{{ img.img.url }}" class="img-responsive center-block">
                        <div class="carousel-caption">
                            {{ img.desc }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination">

            </div>
         </div>

        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">详情</a>
            </li>
            <li role="presentation">
                <a href="#dating" aria-controls="dating" role="tab" data-toggle="tab">时间表</a>
            </li>
            <li role="presentation">
                <a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">评价</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="detail">
                <div class="sitter_detail_left">
                    <img src="{{ sitter.head_portrait_url }}">
                </div>
                <div class="sitter_detail_right clearfix">
                    <div class="sitter_detail_name">
                        <span>{{ sitter.nickname }}</span>
                    </div>
                    <div class="sitter_detail_type">
                        {{ sitter.sitter_type }}
                    </div>
                </div>

                <h4>可寄养宠物</h4>
                <div class="sitter_detail_pet_price">
                    {% for price in sitter.pet_price_list %}
                        {% if price.0 %}
                            <span>{{ price.2.type_name }} {{ price.1 }}￥/天</span>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>

                <h4>个人介绍</h4>
                <div class="sitter_detail_desc">
                    {{ sitter.desc }}
                </div>

                <h4>寄养环境</h4>
                {% if sitter.sitter_type == '寄养师' %}
                    职业状况: {{ sitter.occupation }}<br>
                    饲养经验: {{ sitter.experience }}年<br>
                    家庭面积: {{ sitter.occupation }}㎡<br>
                    家庭住址: {{ sitter.province }}{{ sitter.city }}{{ sitter.county }}{{ sitter.street }}{{ sitter.house_number }}<br>
                {% elif sitter.sitter_type == '宠物店' %}
                    宠物店规模: {{ sitter.get_shop_size_display }}<br>
                    宠物店地址: {{ sitter.province }}{{ sitter.city }}{{ sitter.county }}{{ sitter.street }}{{ sitter.house_number }}<br>
                {% elif sitter.sitter_type == '寄养场' %}
                    寄养场规模: {{ sitter.get_field_size_display }}<br>
                    寄养场地址: {{ sitter.province }}{{ sitter.city }}{{ sitter.county }}{{ sitter.street }}{{ sitter.house_number }}<br>
                {% endif %}

                <h4>特色服务</h4>
                {% bootstrap_special_service_list sitter.special_service %}

            </div>
            <div role="tabpanel" class="tab-pane fade" id="dating">
                <div id="kalendae"></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="comment">
                <h4>暂未开放</h4>
            </div>
        </div>

        <br>

        <a class="btn btn-primary" href="{% url 'order:add' sitter_id=sitter.pk %}">立即预约</a>
        <a class="btn btn-primary" href="tel:{{ sitter.phone }}">联系寄养师</a>
    </div>

    <br><br><br>

{% endblock %}

