{% load staticfiles %}

{% load model2html %}

{% for sitter in sitters %}
    <li class='sitter_list_li clearfix swiper-slide' onclick="location='{% url 'sitter:detail' pk=sitter.pk %}'">
        <div class="sitter_list_left">
            <img src="{{ sitter.head_portrait_url }}">
        </div>
        <div class="sitter_list_right">
            <div class="sitter_list_name">
                <span>{{ sitter.nickname }}</span>
                {# 特色服务徽章 #}
                {% bootstrap_special_service_sign sitter.special_service %}
            </div>
            <div class="sitter_list_desc">
                {{ sitter.desc }}
            </div>
            <div class="sitter_list_other_info">
                <span class="sitter_list_distance">
                    {% get_distance longitude latitude sitter.longitude sitter.latitude %}
                </span>
                <span class="sitter_list_price">
                    {{ sitter.min_price }}￥起
                </span>
                <span class="sitter_list_pet_type">
                    {% for price in sitter.pet_price_list %}
                        {% if price.0 %}
                            <a>{{ price.2.type_name }}</a>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
    </li>
{% endfor %}
