{% extends 'base.html' %}

{% load staticfiles %}

{% load django2html %}

{% block head_title %}寄养师列表{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="{% static 'vendor/kalendae-0.5.5/kalendae_petwu.css' %}" type="text/css">
{% endblock %}

{% block head_javascript %}
    <script src="{% static 'js/extra_elements.js' %}"></script>
    <script src="{% static 'vendor/kalendae-0.5.5/kalendae.standalone.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/calender.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/swiper.jquery.min.js' %}"></script>
    <script>

        // 全局坐标信息
        var g_latitude = 30.6;
        var g_longitude = 104.1;

        var pos;
        var isBegin;
        var page_num = 1;
        var searchValue = '';
        var filterValue = '';


        // 清空所有寄养师
        function clearSitters() {
            $("ul#sitter_list").empty();
        }

        $(document).ready(function () {

            // 自定义控件
            button_checkbox();
            button_radio();

            // 点搜索,搜索昵称或地址
            $("#search").click(function () {
                searchValue = $("#search_edit").val();
                filterValue = '';
                page_num = 1;
                clearSitters();
                appendSitters(page_num++, searchValue, filterValue);
            });

            {# 筛选编辑框 #}
            $("#id_filter_modal").on('show.bs.modal', function (event) {
            });

            {# 提交筛选请求 #}
            $("#id_filter_modal_submit_btn").click(function () {
                searchValue = '';
                filterValue = $('#sitter_filter_modal_form').serialize();
                page_num = 1;
                clearSitters();
                appendSitters(page_num++, searchValue, filterValue);
            });
        });

        // 日期控件
        setKalendaeLocale();

        var kalendaeSettings = {
            months: 1,
            weekStart: 1,
            direction: 'future',
            titleFormat: 'YYYY, MMMM'
        };

        function createRangeKalendae() {
            var settings = kalendaeSettings;
            settings['mode'] = 'range';
            $("#kalendae").kalendae(settings);
        }

        $(function () {
            createRangeKalendae();
            {# 日期提交按钮 #}
            $("#submit_date").click(function () {
                // 设置提交的日期值
                $("#date_form").find("[name='date_list']").val($("#kalendae").data('kalendae').getSelected());
            });

            {# 截获日期选择事件 #}
            $("#kalendae").data("kalendae").subscribe('change', function (date) {
                var begDate, endDate;
                var selectedDate = this.getSelectedAsText();
                begDate = selectedDate[0];
                if (selectedDate.length == 2) {
                    endDate = selectedDate[1];
                } else {
                    endDate = selectedDate[0];
                }
                // 将日期设置到表单hidden项
                $("#beg_date").val(begDate);
                $("#end_date").val(endDate);
            });
        });
    </script>

{% endblock %}

{% block content %}
    <div class="wrapper">
        <div>
            <div class="row">
                <div class="col-xs-9">
                    <div class="input-group">
                        <input id="search_edit" type="text" class="form-control" placeholder="寄养师昵称/城市/区(县)/街道/小区">
                        <span class="input-group-btn">
                            <button id="search" class="btn btn-default" type="button">搜索</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default btn-block" data-toggle="modal"
                            data-target="#id_filter_modal">筛选
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div id="div_sitter_list">
            <div id="div_loading" hidden="hidden" align="center">
                <img src="/static/images/loading_green.gif" alt="loading..."/>
            </div>
            <div id="div_pulldown" hidden="hidden" align="center">
                <p>下拉刷新...</p>
            </div>
            <div class="swiper-container">
                <ul id="sitter_list" class="clearfix swiper-wrapper">

                </ul>
            </div>

        </div>
    </div>

    {# 筛选模态框 #}
    <div class="modal fade" id="id_filter_modal" tabindex="-1" role="dialog"
         aria-labelledby="filter_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                {# <div class="modal-header">#}
                {#     <h4 class="modal-title" id="filter_modal">筛选寄养师</h4>#}
                {# </div>#}
                <div class="modal-body">
                    <div class="wrapper">
                        <form id="sitter_filter_modal_form" class="form-horizontal" action="#" role="form">
                            <h3>选择寄养时间</h3>

                            <div class="form-group form-group-sm">
                                <label class="col-xs-3 control-label">寄养日期</label>
                                <div class="col-xs-9">
                                    <div id="kalendae"></div>
                                    <input id="beg_date" type="hidden" name="beg_date"/>
                                    <input id="end_date" type="hidden" name="end_date"/>
                                </div>
                            </div>

                            {% button_radios form.pet_type %}
                            {% button_radios form.sitter_type %}
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-8">
                                <button id="id_filter_modal_submit_btn" type="button" style="width: 100%"
                                        class="btn btn-primary" data-dismiss="modal">确定
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" style="width: 100%" class="btn btn-default"
                                        data-dismiss="modal">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

{% endblock %}

{% block footer_javascript %}
    <script>

        var SitterList = $("div#div_sitter_list");
        $(".swiper-container").css({
            "width": "95%",
            "height": "100%"
        });
        SitterList.css({
            "height": "90%"
        });
        SitterList.parents().css({
            "position": "relative",
            "height": "100%"
        });

        var mySwiper = new Swiper('.swiper-container', {
            slidesPerView: "auto",
            autoHeight: true,
            direction: 'vertical',
            spaceBetween: 1,
            freeMode: true,
            mousewheelControl: true,
            mousewheelSensitivity: 20,
            onTouchStart: function (swiper) {
                //获取当前位置以判断touch的方向
                isBegin = 0;
                pos = swiper.translate;
                if (swiper.isBeginning) {
                    isBegin = 1;
                }
            },
            onTouchMove: function (swiper) {
                if (isBegin === 1 && swiper.translate > (pos)) {
                    $("#div_pulldown").prop("hidden", false);
                }
            },
            onTouchEnd: function (swiper) {
                $("#div_pulldown").prop("hidden", true);
                //上拉加载
                if (swiper.isEnd) {
                    appendSitters(page_num++, searchValue, filterValue);
                }
                //下拉刷新
                if (isBegin === 1 && swiper.translate > (pos + 55)) {
                    refresh();
                }
            }
        });

        // 将某页的寄养师添加到列表中
        var appendSitters = function (pageNum, searchValue, filterValue) {
            var url = ("{% url 'sitter:page' page=123456 %}?latitude=" + g_latitude + "&longitude=" + g_longitude + "&searchValue=" + searchValue + "&" + filterValue).replace(/123456/, pageNum);
            $.get(url, function (sitters) {
                if (sitters.length < 10) {
                    var btn = $("button#loadmore");
                    btn.text("已到最后一页");
                    btn.attr("disabled", true);
                } else {
                    var btn = $("button#loadmore");
                    btn.text("加载更多");
                    btn.attr("disabled", false);
                }
                mySwiper.appendSlide(sitters);

            });
        };

        //刷新列表函数
        var refresh = function () {
            $("#div_loading").prop("hidden", false);
            setTimeout(function () {
                clearSitters();
                page_num = 1;
                searchValue = $("#search_edit").val();
                appendSitters(page_num++, searchValue, filterValue);
                $("#div_loading").prop("hidden", true);
            }, 1000);
        };

        // 等待成功获取坐标信息后才加载寄养师列表
        // TODO 这里需要改进,如果获取坐标失败,就会无法刷出寄养师列表
        function handle_location(text) {
            searchValue = $("#search_edit").val();
            filterValue = $('#sitter_filter_modal_form').serialize();
            appendSitters(page_num++, searchValue, filterValue);
        }
    </script>
    {% include 'commons/location.html' %}
{% endblock %}
