{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}寄养师后台页面{% endblock %}

{% block content %}

    {% if sitter.status == '认证成功' %}
        {% if user.userinfo.sitter_status == '认证寄养师成功' %}
            <h3>寄养师后台管理</h3>
            <a href="{% url 'sitter:manage_setting' %}">家庭信息</a>
            <a href="{% url 'sitter:manage_date' %}">时间设置</a>
            <a href="{% url 'order:sitter_order_list' order_status='all' %}">订单管理</a>
            <a href="{% url 'sitter:manage_photo' %}">照片管理</a>
            <a href="{% url 'master:home' %}">我是主人</a>
        {% elif user.userinfo.sitter_status == '认证管理员成功' %}
            <h3>管理员后台管理</h3>
            <a href="{% url 'sitter:manage_setting' %}">店铺信息</a>
            <a href="{% url 'sitter:manage_date' %}">时间设置</a>
            <a href="{% url 'order:sitter_order_list' order_status='all' %}">订单管理</a>
            <a href="{% url 'sitter:manage_photo' %}">照片管理</a>
            <a href="{% url 'master:home' %}">我是主人</a>
        {% elif user.userinfo.sitter_status == '认证店员成功' %}
            <h3>店员后台管理</h3>
            <a href="{% url 'sitter:manage_setting' %}">店铺信息</a>
            <a href="{% url 'sitter:manage_date' %}">时间设置</a>
            <a href="{% url 'order:sitter_order_list' order_status='all' %}">订单管理</a>
            <a href="{% url 'sitter:manage_photo' %}">照片管理</a>
            <a href="{% url 'master:home' %}">我是主人</a>
        {% else %}
            <h3>未知错误</h3>
        {% endif %}

    {% elif sitter.status == '等待认证' %}
        <h3>您已经提交过申请，请等待审核</h3>
    {% else %}
        <h3>未知状态</h3>
    {% endif %}

{% endblock %}