{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block head_title %}欢迎回来{% endblock %}

{% block content %}

    {{ user }}

    <br>

    <a href="{% url 'master:home' %}">我是主人</a><br>

    <a href="{% url 'sitter:list' %}">我要寄养</a><br>

    {% if user.userinfo.sitter_status == '认证寄养师成功' %}
        <a href="{% url 'sitter:manage' %}">寄养师后台管理</a><br>
    {% elif user.userinfo.sitter_status == '认证管理员成功' %}
        <a href="{% url 'sitter:manage' %}">管理员后台管理</a><br>
    {% elif user.userinfo.sitter_status == '认证店员成功' %}
        <a href="{% url 'sitter:manage' %}">店员后台管理</a><br>
    {% else %}
        <a href="{% url 'sitter:add' %}">成为寄养师</a><br>
    {% endif %}

    <a href="{% url 'user:logout' %}">注销</a><br>

{% endblock %}