{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block head_title %}登陆{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% bootstrap_form form %}
        {% buttons %}
            <button type=”submit” class=”btn btn-primary” name=”submit”>提交</button>
        {% endbuttons %}
    </form>
{% endblock %}