{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block head_title %}用户注册{% endblock %}

{% block content %}

    <form role='form' action="{% url 'user:reg' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class=”btn btn-primary” type=”submit” name=”submit”>提交</button>
    </form>

{% endblock %}