<div class="form-group form-group-sm">
    <label for="{{ field.id_for_label }}"
           class="{{ settings.horiz_label_class }} control-label">{{ field.label }}</label>

    <div class="{{ settings.horiz_field_class }}">
        {% for choice in field.field.choices %}
            <label class="button-radio" name="{{ field.name }}">
                <input type="radio" name="{{ field.name }}" id="id_{{ field.name }}_{{ forloop.counter0 }}"
                       value="{{ choice.0 }}" autocomplete="off"
                       {% if choice.0 == field.value %}checked{% endif %}>{{ choice.1 }}
            </label>
        {% endfor %}
    </div>
</div>