{#<div class="form-group form-group-sm">#}
{#    {% for btn in buttons %}#}
{#        <div class="col-xs-4">#}
{#            <label for="id_checkbox_button_{{ btn.name }}_{{ forloop.counter0 }}"#}
{#                   class="checkbox-button">{{ btn.text }}</label>#}
{#            <input id="id_checkbox_button_{{ btn.name }}_{{ forloop.counter0 }}"#}
{#                   type="checkbox"#}
{#                   name="{{ btn.name }}"#}
{#                   value="{{ btn.value }}"#}
{#                   class="hidden"#}
{#                   {% if btn.checked %}checked{% endif %}>#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}

<div class="form-group form-group-sm">
    {% for choice in field.choices %}
        {{ choice }}

        {#        <div class="col-xs-4">#}
        {#            <label for="id_checkbox_button_{{ btn.name }}_{{ forloop.counter0 }}"#}
        {#                   class="checkbox-button">{{ btn.text }}</label>#}
        {#            <input id="id_checkbox_button_{{ btn.name }}_{{ forloop.counter0 }}"#}
        {#                   type="checkbox"#}
        {#                   name="{{ btn.name }}"#}
        {#                   value="{{ btn.value }}"#}
        {#                   class="hidden"#}
        {#                   {% if btn.checked %}checked{% endif %}>#}
        {#        </div>#}
    {% endfor %}
</div>