{% load staticfiles %}
<!doctype html>
<html lang="zh-hans">
<head>
    <meta content="text/html" charset="utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block head_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap-3.3.5-dist/css/bootstrap.css' %}">
    {# <link rel="stylesheet" href="{% static 'vendor/bootswatch/flatly/bootstrap.css' %}"> #}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="{% static 'vendor/jquery/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-3.3.5-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {# TODO 以后改为这种模式#}
    {# <script>Window.JQuery || document.write(&lsquo;<script src=&rdquo;script/localsourceforjquery&rdquo;></script>#}
    {% block head_css %}{% endblock %}
    {% block head_javascript %}{% endblock %}

</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
</div>

{% block footer_javascript %}{% endblock %}

</body>
</html>
