<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-3 text-center"><a href="{% url 'sitter:list' %}">
                <span class="glyphicon glyphicon-home"></span><br>我要寄养</a></div>
            <div class="col-xs-3 text-center"><a href="{% url 'pet:list' %}">
                <span class="glyphicon glyphicon-heart"></span><br>爱宠状态</a>
            </div>
            {% if user.userinfo.sitter %}
                <div class="col-xs-3 text-center"><a href="{% url 'sitter:manage' %}">
                    <span class="glyphicon glyphicon-user"></span><br>我的</a></div>
            {% else %}
                <div class="col-xs-3 text-center"><a href="{% url 'master:home' %}">
                    <span class="glyphicon glyphicon-user"></span><br>我的</a></div>
            {% endif %}
            <div class="col-xs-3 text-center"><a href="#">
                <span class="glyphicon glyphicon-earphone"></span><br>在线客服</a>
            </div>
        </div>
    </div>
</nav>

