{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}我的{% endblock %}

{% block content %}

    <div class="wrapper">
        {# 主人页面头 #}
        <div class="master_top">
            <a class="clearfix" href="{% url 'master:setting' %}">
                <span class="pic">
                    <img src="{{ master.head_portrait_url }}">
                </span>
                <span class="name">
                    <h3>{{ master }}</h3>
                    <h6>点击编辑个人信息</h6>
                </span>
            </a>
        </div>
        {# 订单状态 #}
        <div class="order_status">
            <ul class="clearfix">
                <li><a href="{% url 'order:master_order_list' order_status='ordered' %}">待接受</a></li>
                <li><a href="{% url 'order:master_order_list' order_status='accepted' %}">待确认</a></li>
                <li><a href="{% url 'order:master_order_list' order_status='confirmed' %}">待寄养</a></li>
                <li><a href="{% url 'order:master_order_list' order_status='sitting' %}">寄养中</a></li>
                <li><a href="{% url 'order:master_order_list' order_status='completed' %}">已完成</a></li>
                <li><a href="{% url 'order:master_order_list' order_status='others' %}">其他</a></li>
            </ul>
        </div>
        {# 管理相关菜单 #}
        <div class="list-group">
            <a class="list-group-item" href='{% url 'order:master_order_list' order_status='all' %}'>我的订单</a>
            <a class="list-group-item" href='{% url 'pet:list' %}'>我的宠物</a>
            <a class="list-group-item" href='#'>我的收藏</a>
            <a class="list-group-item" href='#'>我的优惠券</a>
            <a class="list-group-item" href='#'>寄养须知</a>
            <a class="list-group-item" href='{% url 'sitter:add' %}'>成为寄养师</a>
        </div>
    </div>

{% endblock %}
