{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}主人管理页面{% endblock %}

{% block head_javascript %}
    <script src="{% static 'vendor/localResizeIMG-dist/lrz.bundle.js' %}"></script>
{% endblock %}
{% block content %}

    <a href="{% url 'user:logout' %}">注销</a><br>
    <div class="wrapper">
        <form class="form-horizontal" action="{% url 'master:setting' %}" method="post">
            {% csrf_token %}

            {% bootstrap_head_portrait_upload master_form.head_portrait "master_head" src=master.head_portrait_url %}
            {% bootstrap_radio master_form.sex %}
            {% bootstrap_field master_form.nickname %}
            {% bootstrap_field master_form.phone %}

            <div class="form-group form-group-sm">
                <div class="col-xs-10 col-xs-offset-1">
                    <button style="width: 100%;" class="btn btn-primary" type="submit">确认提交</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}