<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

    wx.config({
        // TODO 改为false
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{ app_id }}', // 必填，公众号的唯一标识
        timestamp: {{ timestamp }}, // 必填，生成签名的时间戳
        nonceStr: '{{ nonce_str }}', // 必填，生成签名的随机串
        signature: '{{ signature }}',// 必填，签名，见附录1
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'getLocation'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
        wx.checkJsApi({
            jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'getLocation'
            ],
            success: function (res) {
            }
        });
        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                g_latitude = res.latitude;
                g_longitude = res.longitude;

                alert(res.errMsg);

                // 现在不需要取具体地址,只需要经纬度坐标
                {#                // jsonp方式的逆地理编码#}
                {#                $.ajax({#}
                {#                    method: 'get',#}
                {#                    url: "http://api.map.baidu.com/geocoder/v2/",#}
                {#                    data: {#}
                {#                        ak: 'vQkltl64aGk0ppIAzul5zKeH',#}
                {#                        output: 'json',#}
                {#                        coordtype: 'wgs84ll',#}
                {#                        location: res.latitude + "," + res.longitude#}
                {#                    },#}
                {#                    async: false,#}
                {#                    dataType: 'jsonp',#}
                {#                    jsonp: 'callback',#}
                {#                    jsonpCallback: 'handle_location',#}
                {#                    success: function (json) {#}
                {#                        handle_location(json);#}
                {#                    }#}
                {#                });#}
                handle_location();
            },
            fail: function (res) {
                alert("fail");
                alert(res.errMsg);
                handle_location();
            },
            cancel: function (res) {
                alert("cancel");
                alert(res.errMsg);
            },
            complete: function (res) {
                alert("complete");
                alert(res.errMsg);
            }
        });
    });
</script>
