{% extends 'base.html' %}

{% load staticfiles %}

{% load model2html %}

{% block head_title %}location{% endblock %}

{% block head_javascript %}
{% endblock %}

{% block content %}

    {{ wechat }}
    <div id="show">
    </div>


{% endblock %}

{% block footer_javascript %}

    <script>
        var g_latitude = 0;
        var g_longitude = 0;

        function handle_location(text) {
            var str = '';
            str += g_latitude;
            str += g_longitude;
            str += ("status: " + text.status);
            if (text.status == '0') {
                str += "<br>";
                str += ("address: " + text.result.formatted_address);
                str += "<br>";
                str += ("business: " + text.result.business);
                str += "<br>";
                str += ("国家 " + text.result.addressComponent.country);
                str += "<br>";
                str += ("省名 " + text.result.addressComponent.province);
                str += "<br>";
                str += ("城市名 " + text.result.addressComponent.city);
                str += "<br>";
                str += ("区县名 " + text.result.addressComponent.district);
                str += "<br>";
                str += ("街道名 " + text.result.addressComponent.street);
                str += "<br>";
                str += ("街道门牌号 " + text.result.addressComponent.street_number);
                str += "<br>";
                str += ("行政区划代码 " + text.result.addressComponent.adcode);
                str += "<br>";
            }
            $("#show").text(str);
        }
    </script>
    {% include 'commons/location.html' %}

    <script>
        alert(location.href.split('#')[0])
    </script>

{% endblock %}