{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block head_title %}登陆{% endblock %}

{% block content %}

    <div class="wrapper">
        <form action="{% url 'weixin:auth' %}" method="get">
            <input type="text" name="code" value="codeforpetwutest">
            <input type="text" name="state" value="state">
            <input class="form-control" type="submit" value="Submit">
        </form>
    </div>


{% endblock %}